.section {
    margin: 0 auto;
    padding: 150px 0 50px 0;
    max-width: 1024px;
    width: 100%;
}

.overline {
    color: var(--tertiary-color);
    font-size: 18px;
    margin-bottom: 15px;
}

.name {
    font-size: clamp(45px, 8vw, 60px);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 16px;
    line-height: 1.1;
    margin-top: 0;
}

.andText {
    font-size: 24px;
    color: var(--tertiaryLight-color);
    margin-bottom: 10px;
}

.typingWrapper {
    min-height: 45px;
}

.typedText {
    font-size: clamp(30px, 5vw, 30px);
    font-weight: 500;
    color: var(--primary-color);
}

.description {
    margin-top: 30px;
    font-size: 20px;
    max-width: 550px;
    color: var(--tertiaryLight-color);
    line-height: 1.5;
}

.getIntouch {
    margin-top: 40px;
    display: inline-block;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: 0.2s ease;
}

.getIntouch:hover {
    background-color: var(--primaryLight-color);
    transform: translateY(-2px);
}

@media (max-width: 767px) {
    .description {
        font-size: 18px;
    }
}