.jobTabs {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
}

.jobTabs .tablist {
    list-style: none;
    margin-left: 0;
    padding-inline-start: 0;
}

.jobTabs .tablist li button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 55px;
    background: transparent;
    height: 42px;
    padding: 0 20px 2px;
    border-left: 3px solid var(--tertiary-color);
    text-align: left;
    white-space: nowrap;
    font-size: 15px;
    color: var(--tertiaryLight-color);
    transition:
        background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
        border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
        color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jobTabs .tablist li button:hover,
.jobTabs .tablist li button:focus-visible {
    background-color: var(--secondaryLighter-color);
}

.buttonActive {
    color: var(--primary-color) !important;
    border-left-color: var(--primary-color) !important;
    font-weight: 700;
}

.jobContent {
    padding-left: 24px;
}

.jobTabContent {
    width: 100%;
}

.jobTabContent ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jobTabContent ul li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    color: var(--tertiaryLight-color);
    line-height: 1.55;
    letter-spacing: 0.3px;
}

.jobTabContent ul li:before {
    content: "▹";
    position: absolute;
    left: 0;
    top: 2px;
    color: var(--primary-color);
    font-size: 16px;
}

.jobTitle {
    color: var(--tertiaryLight-color);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

.jobCompany {
    color: var(--primary-color);
}

.jobDetail {
    font-size: 15px;
    color: var(--tertiaryLight-color);
    letter-spacing: 0.5px;
    margin-bottom: 28px;
    margin-top: 8px;
}

.section {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1024px;
    position: relative;
}

.heading {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px 0 40px;
    color: var(--primary-color);
    font-size: 24px;
    white-space: nowrap;
}

.heading:before {
    content: "02.";
    font-size: 16px;
    color: var(--primary-color);
    position: relative;
}

.heading:after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--tertiary-color);
    margin-left: 12px;
    position: relative;
}

@media (max-width: 1023px) {
    .section {
        padding: 100px 0;
        max-width: 1000px !important;
    }

    .heading:after {
        width: auto;
    }

    .jobContent {
        padding-left: 20px;
    }

    .jobTabs .tablist li button {
        padding: 0 10px 2px;
        font-family: system-ui;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767px) {
    .jobTabs {
        flex-direction: column;
        gap: 20px;
    }

    .jobTabs .tablist {
        display: flex;
        overflow-x: auto;
        margin-bottom: 25px;
        padding-bottom: 10px;
    }

    .jobTabs .tablist li:first-of-type {
        margin-left: 10px;
    }

    .jobTabs .tablist li button {
        padding: 0 15px;
        border-left: none;
        border-bottom: 2px solid var(--tertiary-color);
        min-width: 120px;
        text-align: center;
    }

    .buttonActive {
        border-bottom: 2px solid var(--primary-color) !important;
    }

    .jobContent {
        padding-left: 0;
    }

    .jobTitle {
        font-size: 19px;
    }

    .section {
        padding-top: 90px;
        padding-bottom: 25px;
    }

    .heading {
        font-size: 20px;
    }

    .heading:before {
        font-size: 18px;
        bottom: 1px;
    }

    .heading:after {
        height: 1px;
        flex: 1;
    }
}

@media (max-width: 480px) {
    .jobTabs .tablist {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    .jobTabs .tablist li:first-of-type {
        margin-left: 20px;
    }

    .heading:after {
        margin-left: 10px;
    }
}