.footer {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #0a0a0a;
    color: #929292;
    text-align: center;
    height: auto;
    min-height: 70px;
    margin-top: 29rem;
}

.content {
    color: #d4d4d4;
    width: 100%;
    margin: 13px 0;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 15px;
    line-height: 1;
}

.content a {
    color: #d4d4d4;
}

.content a div {
    margin-top: 10px;
}

.content a div>span {
    display: inline-flex;
    align-items: center;
    margin: 0 7px;
}

.socialContainer {
    color: #d4d4d4;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 10px;
    display: none;
    padding: 0 30px;
}

.socialContainer .list {
    display: inline-flex;
    padding: 10px;
}

.list li {
    margin-right: 2rem;
}

.list li:last-child {
    margin-right: 0;
}

.svg svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.heart {
    color: red;
}

@media (max-width: 1023px) {
    .socialContainer {
        display: block;
    }
}