@tailwind utilities;

@theme {
  --primary-color: #64ffda;
  --primaryLight-color: rgba(100, 255, 218, 0.07);
  --secondary-color: #0a192f;
  --secondaryLight-color: #172a45;
  --secondaryLighter-color: #020c1b;
  --secondaryLightest-color: #ccd6f6;
  --tertiary-color: #8892b0;
  --tertiaryLight-color: #a8b2d1;
  --tertiaryLighter-color: #ccd6f6;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Restore list bullets with spacing */
ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 1.5rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 1.5rem;
}

.bounce:hover {
  position: relative;
  animation: bounce 0.5s normal linear;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: -0.2em;
  }

  70% {
    top: -0.3em;
  }

  100% {
    top: 0;
  }
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
  border-radius: 5px;
}

@media screen and (max-width: 1023px) {
  html,
  body {
    width: fit-content;
  }
}